body {
    background-color: #f8f9fa;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pre-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    white-space: pre-wrap;
    margin-top: 20px;
    display: none;
}